/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #c86cae;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #0d234f;
  --color-sky-blue: #7280de;
  --color-light-blue: #e7e9f7;
  --color-yellow: #edd5b3;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-purple: #b0b1f4;
  --color-dark-purple: #aa8eeb;


  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

h1 {
  font-family: 'Lilita One', cursive;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universial tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar__dark {
  background-color: var(--color-blue);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: white;
  display: flex;
}

.favicon {
  position:relative;
  top: 11px;
  left: 20px;
  width: 12%;
  height: 12%;
  margin-right: 27px;
}

.text-logo {
  line-height: 50px;
  font-family: 'Lilita One', cursive;
}

.navbar__menu {
  display: flex;
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 18px;
  right: 32px;
  font-size: var(--font-regualr);
  color: var(--color-white);
  display: none;
}


/* Home */
#home {
  
  background: url('images/universe.png') center/cover no-repeat;
  padding: 40px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* border-radius: 0% 0% 10% 10%; */
}

.home__container {
  position: relative;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 50px;
  width: 100%;
  z-index: 8;
}

.home__container:first-of-type::before {
  position: absolute;
  content: '';
  height: 250px;
  width: 250px;
  border-radius: 50%;
  left: 20%;
  top: 100%;
  /* background: linear-gradient(45deg,  var(--color-blue), var(--color-dark-purple)); */
  background-image: url(images/planet.png);
  animation: animate_scale 4s linear infinite;
  -webkit-box-shadow: 12px -5px 15px 5px #39739f48,  -10px -7px 27px 1px #5c5fff, 5px 5px 5px 5px rgba(52,118,211,0); 
  box-shadow: 12px -5px 15px 5px #39739f48,  -10px -7px 27px 1px #5c5fff, 5px 5px 5px 5px rgba(52,118,211,0);
  z-index: 4;
}

.home__container:first-of-type::after {
  position: absolute;
  content: '';
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 82%;
  top: 60%;
  /* background: linear-gradient(45deg,  var(--color-blue), var(--color-dark-purple)); */
  background-image: url(images/planet2.png);
  animation: animate__move 5s linear infinite;
  -webkit-box-shadow: 12px -5px 15px 5px #80c8ffa7, -10px -7px 27px 1px #5c82ff, 5px 5px 5px 5px rgba(52,118,211,0); 
  box-shadow: 12px -5px 15px 5px #39739f48,  -10px -7px 27px 1px #5c5fff, 5px 5px 5px 5px rgba(52,118,211,0);
  z-index: 4;
}

.home__avatar {
  position: absolute;
  left: 50%;
  top: -20%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: .5s; /* Set the transition effect for images to 0.5 seconds */
  animation: animate_scale 7s linear infinite;
  -webkit-box-shadow: 12px -5px 15px 5px #80c8ff87, -10px -7px 27px 1px #9a75f1, 5px 5px 5px 5px rgba(56, 125, 222, 0.059);
  box-shadow: 12px -5px 15px 5px #80c8ff87, -10px -7px 27px 1px #9a75f1, 5px 5px 5px 5px rgba(56, 125, 222, 0.059);
  z-index: 5;
}

@keyframes animate_scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes animate__move {
  0% {
    top: 40%;
    left: 85%;
  }
  50% {
    top: 60%;
    left: 80%;
  }
  100%{
    top: 40%;
    left: 85%;
  }
}

.home__title {
  font-family: 'Lilita One', cursive;
  font-size: 58px;
}

.home__title,
.home__description {
  color: var(--color-white);
  position: relative;
  z-index: 6;
}

.home__contact {
  position: relative;
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin-top: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  z-index: 7;
}

.home__contact:hover {
  background-color: var(--color-sky-blue); 
}


/* Section common */
.section {
  padding: 50px;
  text-align: center;
}

.section__container{
  max-width: 1200px;
  margin: auto;
}

/* About me */

#about {
  padding-top: 30px;
}
.about__stacks {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
}

.stack__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 24px;
}

.stack__icon:hover i {
  color: var(--color-sky-blue);
  transform: rotate(20deg) scale(1.1);
}
/* Animation duration */
.stack__icon i {
  transition: all 300ms ease;
}

.stack__description {
  width: 300px;
  height: 50px;
  margin-top: 16px;
  margin: auto;
}

.stack__title,
.stack__description {
  color: var(--color-dark-grey);
}

.education {
  display: flex;
  align-items: center;
}

.education__logo {
  width: 100px;
}

.education__name {
  margin: 0 20px;
  text-align: left;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.education__major {
  text-align: left;
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
  font-size: var(--font-micro);
  color: var(--color-dark-grey);
}

/* Skills */
#skills {
  background-color: var(--color-light-blue);
}

.skillset {
  display: flex;
  margin: 20px 0;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
}

.skillset__title {
  color: var(--color-white);
  text-shadow: 1px 1px 2px var(--color-dark-grey);
}

.skillset__left {
  flex: 60%;
  background-color: var(--color-sky-blue);
  padding: 20px 40px;
  text-shadow: 1px 1px 2px var(--color-black);
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex: 40%;
}

.tools {
  background-color: var(--color-blue);
  padding: 20px;
}

.etc {
  padding: 20px;
}


/* Work */

#work {
  padding: 50px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.project {
  position: relative;
  width: 300px;
  height: 190px;
  margin: 5px;
  background-color: var(--color-light-white);
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  color: var(--color-sky-blue);
  font-family: "Fredoka One", cursive;
  transition: all 280ms ease;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.7;
  transform: translateY(0px);
}

.project__description h3 {
  font-style: italic;
  color: var(--color-pink);
  font-weight: var(--weight-semi-bold);
  font-family: "Montserrat", sans-serif;
}

.project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Contact */

#contact {
  background-color: var(--color-blue);
  max-width: 100%;
}

.contact__title {
  color: white;
  margin: 32px 0px;
}

.contact__github,
.contact__linkedin {
  display: inline-flex;
  font-size: var(--font-large);
  margin: 16px;
}

.contact__github a:visited,
.contact__linkedin a:visited {
  color: inherit;
}

.contact__github:hover,
.contact__linkedin:hover {
  transform: scale(1.1);
}

.contact__rights {
  color: white;
  font-size: var(--font-small);
}

/* Top button */
.topbtn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  font-size: var(--font-medium);
  background-color: var(--color-dark-purple);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
  z-index: 8;
}

.topbtn.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regualr: 16px;
    --font-small: 14px;
    --font-micro: 12px;
    overflow-wrap: break-word;
  }

  .section {
    padding: 16px;
  }

  #home {
    position: relative;
    padding: 150px 100px 15px 15px;
    z-index: 7;
  }

  .home__title {
    font-family: 'Lilita One', cursive;
    font-size: 48px;
  }
  .home__container {
    position: relative;
    margin-top: 50px;
    margin-bottom: 180px;
    margin-left: 20px;
  }

  .home__element {
    position: relative;
    top: 50px;
    z-index: 8;
  }
  .navbar__toggle-btn {
    display: block;
    right: 18px;
    top: 30px;
  }
  #navbar {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
    z-index: 8;
  }

  .navbar__logo {
    line-height: 40px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu__item:hover::before {
    content: "⭐";
  }
  .navbar__menu__item:hover {
    background-color: var(--color-sky-blue); 
    border: 1px solid var(--color-white);
  }

  .navbar__menu.open {
    position: relative;
    display: block;
    z-index: 8;
  }

  #about {
    margin-top: 0;
    padding: 24px;
  }

  .about__stacks {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .stack {
    margin-bottom: 32px;
  }

  .education__logo {
    width: 60px;
    height: 60px;
  }

  #skills,
  #work {
    padding: 32px 24px;
  }
  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .topbtn {
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    font-size: var(--font-medium);
    line-height: 50px;
    align-items: center;
  }

  .home__avatar {
    position: absolute;
    left: 50%;
    top: -20%;
    width: 200px;
    height: 200px;
    z-index: 5;
  }
}